<div ng-controller="DashboardCtrl" ng-cloak="" >
    <md-content class="md-padding" layout="row" layout-wrap="" layout-align="center start" layout-xs="column">
        <div flex="33" flex-sm="100" flex-xs="100" layout="column" ng-repeat="user in users">

            <md-card >
                <md-card-header>
                    <md-card-avatar>
                        <img class="md-user-avatar" src="../img/test.svg" />
                    </md-card-avatar>
                    <md-card-header-text>
                        <span class="md-title">User</span>
                        <span class="md-subhead">subhead</span>
                    </md-card-header-text>
                </md-card-header>
                <img src="http://placehold.it/150x150" class="md-card-image" alt="user avatar">
                <md-card-content>
                    <h2>{{user}}</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                </md-card-content>
                <div class="md-actions" layout="row" layout-align="end center">
                    <md-button>Save</md-button>
                    <md-button>View</md-button>
                </div>
            </md-card>
           
        </div>
       
    </md-content>
</div>