<md-dialog aria-label="Idea Popup" md-background style="max-width:100%;max-height:100%;margin-right:58px; margin-left:58px; margin-top:120px; width: 100%;height: 100%; border-radius: 0;">
    <form>
        <div class="header">
            <md-button class="md-icon-button header-btn-close" ng-click="cancel()">
                <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog" style="fill:white"></md-icon>
            </md-button>
            <div class="header-top" layout="column">
                <div flex>
                    <img src={{selectedIdea.img}} ng-show="{{selectedIdea.img.length}} > 0" class="header-image">
                    <div class="header-background" ng-show="{{selectedIdea.img.length}} <= 0">
                    </div>
                    <div class="header-title">
                        <h1>{{selectedIdea.title}}</h1>
                        <h2>Author: {{selectedIdea.author}}</h2>
                    </div>
                </div>
                <div layout="row">
                    <div flex></div>
                    <md-button class="md-accent">Follow idea</md-button>
                </div>
            </div>

            <div class="container">
                <div class="progress">10/10</div>
                <div class="header-background-circle">
                </div>
                <div class="header-progress">
                    <round-progress max="100" current="100" color="white" bgcolor="white" radius="100" semi="false" rounded="false" stroke="15" clockwise="true" responsive="false" duration="800" animation="easeOutCubic" offset="0" animation-delay="0" on-render="showPreciseCurrent">
                        <round-progress max="100" current="50" color="#45ccce" bgcolor="gainsboro" radius="100" semi="false" rounded="false" stroke="15" clockwise="true" responsive="true" duration="800" animation="easeOutCubic" offset="inherit" animation-delay="0" on-render="showPreciseCurrent">


                        </round-progress>
                    </round-progress>
                </div>
            </div>
        </div>
        <md-dialog-content layout="row">
            <div flex=50 layout="column" class="content">
                <img src='app/img/MindMap.png' class="content-image">
                <div>
                    <h3>Descirption</h3>
                    <p>{{selectedIdea.description}}</p>
                </div>
                <div>
                    <h3>Sribbles</h3>
                    <img src='http://placehold.it/150x100' class="content-image">
                </div>
                <div>
                    <h3>Milsteonstes</h3>
                    <div>
                        <md-checkbox ng-model="isChecked" aria-label="Finished?">
                            Finished ?
                        </md-checkbox>
                        <md-checkbox md-no-ink ng-model="hasInk" aria-label="No Ink Effects">
                            No Ink Effects
                        </md-checkbox>
                        <md-checkbox ng-disabled="true" ng-model="isDisabled" aria-label="Disabled">
                            Disabled
                        </md-checkbox>
                    </div>
                </div>
                <div>
                    <h3>Tags</h3>
                    <p style="font-weight:bold;" ng-repeat="tag in selectedIdea.tags" class="content-tags">#{{tag | uppercase}}</p>
                </div>
            </div>
            <div flex=50 layout="column" class="content">
                <div>
                    <h3>Contributors</h3>
                    <div>list of contributors</div>
                    <md-button class="md-accent">I want to contribute</md-button>
                </div>

            </div>

        </md-dialog-content>

    </form>
</md-dialog>