<md-dialog aria-label="Profile Popup" md-background style="max-width:100%;max-height:auto;margin-right:58px; margin-left:58px; margin-top:60px; width: 100%;min-height: 90%; border-radius: 0;">
    <form>
        <div class="header">
            <md-button class="md-icon-button header-btn-close" ng-click="cancel()">
                <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog" style="fill:white"></md-icon>
            </md-button>
            <div class="header-top" layout="column">
                <div flex>
                    <div class="header-background">
                    </div>
                    <div class="header-title">
                        <h1>{{user.name}}</h1>
                        <h2> <a href={{user.url}}>{{user.url}}</a> </h2>
                    </div>
                </div>
                <div layout="row">
                    <div flex></div>
                    <md-button class="md-accent">Follow user</md-button>
                </div>
            </div>

            <div class="container">
                <img ng-src={{user.profileImg}} class="md-avatar header-background-circle" alt="{{user.name}}">
                <div class="header-progress">
                    <round-progress max="100" current="100" color="white" bgcolor="white" radius="100" semi="false" rounded="false" stroke="15" clockwise="true" responsive="false" duration="800" animation="easeOutCubic" offset="0" animation-delay="0" on-render="showPreciseCurrent">

                    </round-progress>
                </div>
            </div>
        </div>
        <md-dialog-content layout="row">
            <div flex=66 layout="column" class="content">
                <div ng-controller="gridProfileIdea as vm" class="md-padding" layout="row" layout-wrap="" layout-align="center start" layout-xs="column">
                    <div flex="50" flex-sm="100" flex-xs="100" layout="column">
                        <md-card ng-repeat="idea in vm.column1" ng-include="'app/views/dashboard-item-idea-card.html'">

                        </md-card>
                    </div>
                    <div flex="50" flex-sm="100" flex-xs="100" layout="column">
                        <md-card ng-repeat="idea in vm.column2" ng-include="'app/views/dashboard-item-idea-card.html'">

                        </md-card>
                    </div>
                </div>
            </div>
            <div flex=33 layout="column" class="content">
                <div>
                    <h3>Groups</h3>
                    <div layout="column" ng-repeat="group in user.groups">
                        <div layout="row">
                            <div flex>{{group.name}}</div>
                            <div ng-show="{{group.owner}} === true">owner</div>

                        </div>
                    </div>
                </div>
                <br>
                <div>
                    <h3>Hashtags</h3>
                    <p style="font-weight:bold;" ng-repeat="tag in user.tags">#{{tag | uppercase}}</p>

                </div>

            </div>

        </md-dialog-content>

    </form>
</md-dialog>