body {
    font-family: 'Roboto', sans-serif;
}

md-sidenav {
    fill: #737373;
}

md-sidenav ng-md-icon {
    position: relative;
    top: 5px;
}

.nav-item-select {
    color: cyan;
    fill: cyan;
}

md-input-container {
    padding: 0 !important
}

md-card{
    background-color: white;

}

.nav-img-user {
    z-index: 2;
    width: 72px;
    height: 72px;
    border: 0px solid black;
    border-radius: 36px;
    top: 112px;
    margin-left: 12px;
}

.toolbar-settings {
    min-height: 223px !important;
}

.toolbar-settings-top{
    min-height: 74px !important;

}

.toolbar-settings-bottom{
    min-height: 149px !important;

}