<md-dialog aria-label="Milestone Popup" class="popup-hashtag-size">
    <form name="milestoneForm">
        <md-toolbar class="md-tall md-primary md-hue-2" layout="row" layout-padding>
            <h2>Contributors:</h2>
            <div>
                <md-button class="md-raised md-accent" style="font-size:24px; margin-bottom:5px;" ng-hide="author=='' || author.email==''">{{author.name}} - author
                </md-button>
                <md-button class="md-raised md-accent" ng-repeat="contr in contributors" ng-click="setSelectedContributors(contr, contributorsId[$index], true);" style="font-size:24px; margin-bottom:5px;">{{contr}}
                    <ng-md-icon icon="close"></ng-md-icon>
                </md-button>
            </div>
            <span flex></span>
            <md-button class="md-icon-button" style="width:64px; height:64px;">
                <ng-md-icon icon="close" size="64" aria-label="Close dialog" ng-click="cancel()"></ng-md-icon>
            </md-button>

        </md-toolbar>
        <md-dialog-content class="content">
            <div layout="row">
                <div class="background-color-white" ng-include="'app/views/abc-list.html'">

                </div>

                <div layout="column">
                    <div layout="row" ng-repeat="contr in contributorsList | orderBy:'name'" class="item">
                        <md-button data-ng-class="{'md-accent' : statusContributorsSelected(contr.name)}" ng-disabled="contr._id == author._id" ng-click="setSelectedContributors( contr.name, contr._id, statusContributorsSelected( contr.name))">{{contr.firstname}} {{contr.name}}</md-button>
                    </div>
                </div>
                <div flex></div>
                <div class="background-color-white" ng-include="'app/views/abc-list.html'">

                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">

            <span flex></span>
            <md-button class=" md-raised md-primary" ng-click="cancel();">Okay</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>