<md-card-header>
    <md-card-avatar ng-click="showProfile(idea.author, $event)">
        <img class="md-user-avatar" src={{users[idea.author].profileImg}} />
    </md-card-avatar>
    <md-card-header-text>
        <div>
            <span class="md-headline" style="overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 1;-webkit-box-orient: vertical;">{{idea.title}}</span>
        </div>
        <div>
            <span class="md-title">Author: {{users[idea.author].name}}</span>
        </div>
    </md-card-header-text>

</md-card-header>

<md-card-content ng-click="showIdea(idea.id, $event)">
    <img src={{idea.img}} ng-show="{{idea.img.length}} > 0" class="md-card-image" alt="user avatar" style="width:100%;height:auto;margin-bottom:10px;">
    <div class="md-title" style="overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 3;-webkit-box-orient: vertical;">{{idea.description}}</div>
</md-card-content>
<md-card-content>
    <p class="md-headline" ng-repeat="tag in idea.tags" style="padding:0px 10px 0px 10px; margin:0px;display:inline-block" ng-click="addSearchTag(idea.id, $index, $event)">#{{tag | uppercase}}</p>
</md-card-content>
<md-card-actions layout="row" layout-align="end center">
    <md-button ng-click="commentIdea(idea.id, $event)" class="md-icon-button" aria-label="Comment">
        <ng-md-icon icon="forum" style="fill: #737373"></ng-md-icon>
    </md-button>
    <md-button ng-click="followIdea(idea.id, $event)" class="md-icon-button" aria-label="Follow">
        <ng-md-icon icon="notifications" style="fill: #737373"></ng-md-icon>
    </md-button>
    <md-button ng-click="participateIdea(idea.id, $event)" class="md-icon-button" aria-label="Participate">
        <ng-md-icon icon="linkedin" style="fill: #737373"></ng-md-icon>
    </md-button>

</md-card-actions>