<md-card-header ng-init="authorItem = getUser(idea.author)">
    <md-card-avatar ng-click="showProfile(idea.author, $event);$event.stopPropagation();">
        <img class="md-user-avatar" src={{authorItem.profileImg}} />
    </md-card-avatar>
    <md-card-header-text >
        <div >
            <span class="md-display-1" style="overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 1;-webkit-box-orient: vertical; font-weight:bold;">{{idea.title}}</span>
        </div>
        <div>
            <span class="md-title">Author: {{users[idea.author].firstname}} {{users[idea.author].name}}</span>
        </div>
    </md-card-header-text>

</md-card-header>

<md-card-content >
    <img src=app/{{idea.img}} ng-show="{{idea.img.length}} > 0" class="md-card-image" alt="user avatar" style="width:100%;height:auto;margin-bottom:10px;">
    <div class="md-title" style="overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 3;-webkit-box-orient: vertical;">{{idea.description}}</div>
</md-card-content>
<md-card-content>
    <md-button ng-repeat="tag in idea.tags" class="hashtag-style" data-ng-class="{'md-accent' : hashtagSelected(tag)}" ng-click="setSelectedHashtags(tag, hashtagSelected(tag));updateDashboard(); ;$event.stopPropagation();">#{{tag | uppercase}}</md-button>
</md-card-content>
<!--
<md-card-actions layout="row" layout-align="end center">
    <md-button ng-click="commentIdea(idea.id, $event)" class="md-icon-button" aria-label="Comment">
        <ng-md-icon icon="forum" class="icon-gray"></ng-md-icon>
    </md-button>
    <md-button ng-click="followIdea(idea.id, $event)" class="md-icon-button" aria-label="Follow">
        <ng-md-icon icon="notifications" class="icon-gray"></ng-md-icon>
    </md-button>
    <md-button ng-click="participateIdea(idea.id, $event)" class="md-icon-button" aria-label="Participate">
        <ng-md-icon icon="linkedin" class="icon-gray"></ng-md-icon>
    </md-button>

</md-card-actions>
-->