<!-- 
 toolbar of the dashboard page divided in two parts
-->
<header>
    <!-- 
    first part is the title of the academic think tank which is of all pages
    -->
    <md-toolbar class="md-primary md-hue-1 ">
        <div class="md-toolbar-tools toolbar-settings-top" layout='row'>
            <div class="md-headline" style="margin-right:20px !important; margin-left:20px !important; ">
                Academic Think Tank
            </div>
        </div>
    </md-toolbar>
    <!-- 
    second part is a serach bar and a drop down list to sort/filter after this catagory
    -->
    <md-toolbar>
        <div class="md-toolbar-tools toolbar-settings-bottom" layout='row'>
            <div style="margin-right:20px !important; margin-left:20px !important; " flex layout='row'>
                <!-- Search bar with the selected hashtags and opens the hashtag pop-up  -->
                <div style="border-bottom: 2px solid white;" ng-click="searchHashtag($event) " flex>
                    <div layout="row">
                        <div flex>
                            <!-- set the selected hashtags  -->
                            <md-button class="md-raised md-accent hashtag-style" ng-repeat="selectedHashtag in selectedHashtags" ng-click="setSelectedHashtags(selectedHashtag, true);updateDashboard(); $event.stopPropagation();" style=" margin-bottom:5px;">#{{selectedHashtag}}
                                <ng-md-icon icon="close"></ng-md-icon>
                            </md-button>
                        </div>
                        <!--  search icon -->
                        <md-button aria-label="Search">
                            <ng-md-icon icon="search" size="64" class="icon-white"></ng-md-icon>
                        </md-button>
                    </div>
                </div>

                <!-- default space between search bar and sorting function  -->
                <div flex=5></div>

                <!--  sorting function -->
                <md-input-container>
                    <md-select ng-model="sortingType" aria-label="sorting" ng-change="changeSortingType(sortingType);updateDashboard();">
                        <md-option ng-value="t" data-ng-repeat="t in sorting">{{ t }}</md-option>
                    </md-select>

                </md-input-container>
            </div>
        </div>
    </md-toolbar>
</header>

<!-- floating action button to go to the whiteboard  -->
<md-button class="md-fab md-fab-bottom-right fab-style" ng-click="openWhiteboard()" aria-label="Add">
    <ng-md-icon icon="add" size="51"></ng-md-icon>
</md-button>

<!-- main content of the dashboard  -->
<main class="" layout="row" flex>
    <md-content flex>
        <!-- include dashboard controller  -->
        <div ng-controller="DashboardCtrl" ng-cloak="">
            <!-- add three rows in the dashbaord  -->
            <md-content class="md-padding" layout="row" layout-wrap="" layout-align="center start" layout-xs="column">

                <!-- load each third idea into the first column and start by the first element  -->
                <div flex flex-sm="100" flex-xs="100" layout="column" layout-margin>
                    <md-card class="md-whiteframe-4dp margin-bottom-30" ng-repeat="idea in ideaList" ng-if="!(($index+3)%3)" ng-include="'app/views/dashboard-item-idea-card.html'" ng-click="showIdea(idea._id, $event)">
                    </md-card>
                </div>

                <!--  load each third idea into the second column an start by the second element -->
                <div flex flex-sm="100" flex-xs="100" layout="column" layout-margin>
                    <md-card class="md-whiteframe-4dp margin-bottom-30" ng-repeat="idea in ideaList" ng-if="!(($index+2)%3)" ng-include="'app/views/dashboard-item-idea-card.html'" ng-click="showIdea(idea._id, $event)">

                    </md-card>
                </div>

                <!-- load each third idea into the third column and start by the third element -->
                <div flex flex-sm="100" flex-xs="100" layout="column" layout-margin>
                    <md-card class="md-whiteframe-4dp margin-bottom-30" ng-repeat="idea in ideaList" ng-if="!(($index+1)%3)" ng-include="'app/views/dashboard-item-idea-card.html'" ng-click="showIdea(idea._id, $event)">

                    </md-card>
                </div>
            </md-content>
        </div>
    </md-content>
</main>