<md-card-header >
    <md-card-avatar ng-click="showProfile(idea.author._id, $event);$event.stopPropagation();">
        <img class="md-user-avatar" src={{idea.author.profileImg}} alt=" {{idea.author.firstname}} {{idea.author.name}}"/>
    </md-card-avatar>
    <md-card-header-text >
        <div >
            <span class="md-headline font-weight-bold" style="overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 1;-webkit-box-orient: vertical;">{{idea.title}}</span>
           
        </div>
        <div>
            <span class="md-title">Author: {{idea.author.firstname}} {{idea.author.name}}</span>
        </div>
    </md-card-header-text>

</md-card-header>

<md-card-content >
    <img src={{setImgPath(idea.img)}} ng-show="{{idea.img.length}} > 0" class="md-card-image" alt="user avatar" style="width:100%;height:auto;margin-bottom:10px;">
    <div class="md-title" style="overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 3;-webkit-box-orient: vertical;">{{idea.description}}</div>
</md-card-content>
<md-card-content>
    <md-button ng-repeat="tag in idea.tags" class="hashtag-style" data-ng-class="{'md-accent' : hashtagSelected(tag)}" ng-click="setSelectedHashtags(tag, hashtagSelected(tag));updateDashboard(); ;$event.stopPropagation();" ng-show="isDashbaord">#{{tag | uppercase}}</md-button>
    <md-button ng-repeat="tag in idea.tags" class="hashtag-style" ng-hide="isDashbaord">#{{tag | uppercase}}</md-button>
</md-card-content>
