<md-dialog aria-label="Whiteboard Description Popup" class="popup-hashtag-size">
    <form name="descriptionForm">
        <md-toolbar class="md-tall md-primary md-hue-2" layout-padding>

            <div style="margin-right:80px; margin-left:10px;  ">
                <div>
                    <span class="md-display-3">Idea description and title</span>
                </div>

            </div>
            <md-button class="md-icon-button" style="width:64px; height:64px; position:fixed; right:5px; top:5px; ">
                <ng-md-icon icon="close" size="64" aria-label="Close dialog" ng-click="cancel()"></ng-md-icon>
            </md-button>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <md-input-container class="md-block" flex style="margin-top:25px;">
                    <label>Title</label>
                    <input name="title" ng-model="title" type="text" md-maxlength="50" placeholder='{{titlePlaceholder}}' />
                    <div ng-messages="descriptionForm.title.$error" ng-show="descriptionForm.title.$dirty">
                        <div ng-message="md-maxlength">That's too long!</div>
                    </div>
                </md-input-container>

                <div>Status of the idea: {{ideaDayLeft}} / {{ideaLifeTime}} days</div>

                <div>
                    <md-input-container class="md-block">
                        <label>Path to your Main Picture</label>
                        <input name="img" ng-model="img" />
                    </md-input-container>
                    <md-input-container class="md-block margin-top-25">
                        <label>Description</label>
                        <textarea name="description" type="text" ng-model="desciption" placeholder="Here can you add your desciption of the idea." </textarea>
                    </md-input-container>
                </div>

            </div>
        </md-dialog-content>


    </form>
</md-dialog>