<md-dialog aria-label="Search Hashtag Popup" class="popup-hashtag-size">
    <form>
        <md-toolbar class="md-tall" layout="row" layout-padding>
                <h2>Search:</h2>
                <div>
                    <md-button class="md-raised md-accent" ng-repeat="selectedHashtag in selectedHashtags" ng-click="setHashtags(selectedHashtag, true);" style="font-size:24px; margin-bottom:5px;">#{{selectedHashtag}}
                        <ng-md-icon icon="close"></ng-md-icon>
                    </md-button>
                </div>
                <span flex></span>
               <md-button class="md-icon-button" style="width:64px; height:64px;">
                    <ng-md-icon icon="close" size="64" aria-label="Close dialog" ng-click="cancel()"></ng-md-icon>
                </md-button>

        </md-toolbar>
        <md-dialog-content class="content">
            <div class="masonry-layout">
                <div layout="row" ng-repeat="hashtag in hashtags | orderBy:'name'" class="item">
                    <md-button data-ng-class="{'md-accent' : hashtagSelected(hashtag.name)}" ng-click="setHashtags(hashtag.name, hashtagSelected(hashtag.name))" ng-style="getHashtagStyle(hashtag.priority)">#{{ hashtag.name }}</md-button>
                </div>

        </md-dialog-content>

    </form>
</md-dialog>