<md-dialog aria-label="Idea Popup" class="popup-size">
    <form name="ideaForm">

        <md-toolbar class="toolbar-settings   md-primary md-hue-2">
            <!-- todo pfeil  und x soll mit kontext abschließen-->
            <img class="header-picture toolbar-settings " src={{setImgPath(getIdeaInfo.img)}} />

            <div layout="row" layout-padding style="position: absolute; top: 0px; left:0px; width:100%;">
                <md-button class="md-icon-button" style="width:64px; height:64px; ">
                    <ng-md-icon icon="arrow_back" size="64" ng-show="funqueue.length" ng-click="back()"></ng-md-icon>
                </md-button>
                <div flex></div>

                <div>
                    <div>
                        <span class="md-display-2">{{getIdeaInfo.title}}</span>
                    </div>
                    <div>
                        <span class="md-display-1">Date:{{getIdeaInfo.created}}</span>
                    </div>
                </div>
                <div flex></div>
                <md-button class="md-icon-button" style="width:64px; height:64px;">
                    <ng-md-icon icon="close" size="64" aria-label="Close dialog" ng-click="cancel()"></ng-md-icon>
                </md-button>

            </div>

        </md-toolbar>

        <div class="container">
            <div class="header-background-circle md-display-1" layout="column">
                <div flex></div>
                <div>{{calculateIdeaLeftDays(getIdeaInfo.created)}}d</div>
                <div>/</div>
                <div>{{getIdeaInfo.livetime}}d</div>
                <div flex></div>
            </div>
            <div class="header-progress">
                <round-progress max="100" current="100" color="#fafafa" bgcolor="#fafafa" radius="100" semi="false" rounded="false" stroke="15" clockwise="true" responsive="false" duration="800" animation="easeOutCubic" offset="0" animation-delay="0" on-render="showPreciseCurrent">
                    <!-- current muss noch berechnet werden-->
                    <round-progress max="getIdeaInfo.livetime" current="calculateIdeaLeftDays(getIdeaInfo.created)" color="#45ccce" bgcolor="gainsboro" radius="100" semi="false" rounded="false" stroke="15" clockwise="true" responsive="true" duration="800" animation="easeOutCubic" offset="inherit" animation-delay="0" on-render="showPreciseCurrent">


                    </round-progress>
                </round-progress>
            </div>
        </div>
        <div layout="row" class="margin-top-15" style="margin-bottom:135px;" >
            <div flex></div>
            <md-button class="md-accent margin-right-20 font-weight-bold font-size-34" ng-if="getFollowIdea(getIdeaInfo._id)" ng-hide="isUserContributor(getIdeaInfo._id) "   ng-click="setFollowIdea(getIdeaInfo._id,true)">Follow not idea</md-button>
            <md-button class="md-accent margin-right-20 font-weight-bold font-size-34" ng-if="!isUserContributor(getIdeaInfo._id)" ng-hide="getFollowIdea(getIdeaInfo._id)"  ng-click="setFollowIdea(getIdeaInfo._id,false)">Follow idea</md-button>
            <md-button class="md-accent margin-right-20 font-weight-bold font-size-34"  ng-show="isUserContributor(getIdeaInfo._id)"  ng-click="goWhiteboard(getIdeaInfo._id)">Edit idea</md-button>
            
        </div>

        <md-dialog-content layout="row" class="padding-right-40 padding-left-40 padding-bottom-40">
            <!-- todo divider -->
            <div flex=50 layout="column" class="padding-left-40">

                <div>
                    <div class="idea-block">
                        <div class="md-headline margin-bottom-15 font-weight-bold">
                            <ng-md-icon icon="person" size="18"></ng-md-icon>
                            Contributors
                        </div>
                        <div>
                            <md-card class="content-contributors" ng-click="showProfile(getIdeaInfo.author._id, $event)">
                                <md-card-header>
                                    <md-card-avatar>
                                        <img class="md-user-avatar" src={{getIdeaInfo.author.profileImg}} alt="{{ideaAuthor.firstname}} {{ideaAuthor.name}}" />
                                    </md-card-avatar>
                                    <md-card-header-text>
                                        <span class="md-title">{{getIdeaInfo.author.firstname}} {{getIdeaInfo.author.name}}</span>
                                        <span class="md-subhead ">author</span>
                                    </md-card-header-text>
                                </md-card-header>
                            </md-card>
                            <md-card class="content-contributors" ng-repeat="contributor in getIdeaInfo.contributors" class="content-contributors" ng-click="showProfile(contributor._id, $event)">
                                <md-card-header>
                                    <md-card-avatar>
                                        <img class="md-user-avatar" src={{contributor.profileImg}} alt="{{contributor.firstname}} {{contributor.name}}" />
                                    </md-card-avatar>
                                    <md-card-header-text>
                                        <span class="md-title">{{contributor.firstname}} {{contributor.name}}</span>
                                        <span class="md-subhead">contributor</span>
                                    </md-card-header-text>
                                </md-card-header>
                            </md-card>
                        </div>
                        <md-button class="md-accent" style="font-weight:bold; font-size:24px;">I want to contribute</md-button>
                    </div>
                    <div class="idea-block">
                        <div class="md-headline margin-bottom-15 font-weight-bold">
                            <ng-md-icon icon="brush" size="18"></ng-md-icon>
                            Whiteboard Scribble
                        </div>
                        <div ng-click="goWhiteboard(getIdeaInfo._id)">
                            <img src={{setImgPath(getIdeaInfo.scribble)}} class="content-image">
                        </div>
                    </div>
                    <div class="idea-block">
                        <div class="md-headline margin-bottom-15 font-weight-bold">
                            <ng-md-icon icon="description" size="18"></ng-md-icon>
                            Description
                        </div>
                        <div class="md-headline">{{getIdeaInfo.description}}</div>
                    </div>

                    <div class="idea-block">
                        <div class="md-headline margin-bottom-15 font-weight-bold">
                            <ng-md-icon icon="add_location" size="18"></ng-md-icon>
                            Milestones
                        </div>
                        <p class="hashtag-style background-color-white" ng-repeat="milestone in getIdeaInfo.milestones" style="margin:0px 10px 0px 10px; display:inline-block">
                            {{milestone.name}}
                            <ng-md-icon icon="done" size="18" style="fill:green;" ng-show="milestone.percentage"></ng-md-icon>
                        </p>

                    </div>
                    <div class="idea-block">
                        <div class="md-headline margin-bottom-15 font-weight-bold"># Hashtags</div>
                        <p class="hashtag-style" ng-repeat="tag in getIdeaInfo.tags" style="margin:0px 10px 0px 10px;display:inline-block">#{{tag | uppercase}}</p>
                    </div>
                </div>
            </div>
            <div flex=50 layout="column" class="padding-right-40">
                <div class="idea-block">
                    <div class="margin-bottom-15">
                        <div class="md-headline " style="font-weight:bold;">
                            <ng-md-icon icon="comment" size="18"></ng-md-icon>
                            React on Idea</div>
                        <div class="md-subhead text-gray">Choose one and more icons and a comment field will open.</div>
                    </div>
                    <div layout="row">
                        <div layout="column" flex layout-align="center center" ng-class="{'item-select' : saveComment.likeIdeaStatus}" ng-click="setLikeIdeaStatus();">
                            <ng-md-icon icon="thumb_up" size="40"></ng-md-icon>

                            <br>
                            <div class="md-subhead">I like idea</div>
                        </div>
                        <div layout="column" flex layout-align="center center" ng-class="{'item-select' : saveComment.newInputStatus}" ng-click="setNewInputStatus();">
                            <ng-md-icon icon="touch_app" size="40"></ng-md-icon>
                            <br>
                            <div class="md-subhead">new input</div>
                        </div>
                        <div layout="column" flex layout-align="center center" ng-class="{'item-select' : saveComment.troubleStatus}" ng-click="setTroubleStatus();">
                            <ng-md-icon icon="flash_on" size="40"></ng-md-icon>
                            <br>
                            <div class="md-subhead">see trouble</div>
                        </div>
                        <div layout="column" flex layout-align="center center" ng-class="{'item-select' : saveComment.otherreaction}" ng-click="setOtherComment();">
                            <ng-md-icon icon="more_horiz" size="40"></ng-md-icon>
                            <br>
                            <div class="md-subhead">other comments</div>
                        </div>
                    </div>
                    <div ng-show="saveComment.otherreaction || saveComment.troubleStatus || saveComment.newInputStatus || saveComment.likeIdeaStatus">
                        <md-input-container class="md-block margin-top-25">
                            <label>{{newInputText}} {{likeIdeaText}} {{troubleText}} {{otherText}}</label>
                            <textarea name="commentArea" type="text" ng-model="saveComment.text" md-autofocus required></textarea>
                            <div ng-messages="ideaForm.commentArea.$error" ng-show="ideaForm.commentArea.$dirty">
                                <div ng-message="required">You have to input a comment!</div>
                            </div>

                            <md-button ng-disabled="ideaForm.commentArea.$invalid" class="md-accent messages-icon" ng-click="sendComment(getIdeaInfo._id)" style="font-weight:bold; font-size:24px;">Send</md-button>
                            <md-button ng-disabled="true" class="md-icon-button messages-icon" aria-label="Record Audio">
                                <ng-md-icon icon="keyboard_voice" class="icon-gray" size="24"></ng-md-icon>
                            </md-button>
                            <md-button ng-disabled="true" class="md-icon-button messages-icon" aria-label="Record Video">
                                <ng-md-icon icon="videocam" class="icon-gray" size="24"></ng-md-icon>
                            </md-button>
                        </md-input-container>
                    </div>
                </div>
                <div class="idea-block">
                    <div class="md-headline margin-bottom-15" style="font-weight:bold;">
                        <ng-md-icon icon="forum" size="18"></ng-md-icon>
                        Reactions from Users
                    </div>
                    <md-content class="background-color-white">
                        <md-list style=" max-height:400px;overflow-y:visible">
                            <md-list-item ng-repeat="message in getIdeaInfo.comments | orderBy:'created':true" style="margin-bottom:15px; heiht:auto;">

                                <div class="md-list-item-text margin-bottom-15 width-100-prozent">
                                    <!-- ToDO: header mittig machen den namen und zu bild-->
                                    <div layout="row">

                                        <img ng-src={{message.author.profileImg}} class="md-avatar" alt="{{message.author.name}}" ng-click="showProfile(message.author.author._id, $event)">
                                        <div class="md-headline">{{message.author.firstname}} {{message.author.name}},
                                        </div>
                                        <div class="md-subhead">{{message.created}}</div>
                                        <div flex></div>
                                        <ng-md-icon ng-show="message.likeIdeaStatus" icon="thumb_up" class="icon-gray"></ng-md-icon>
                                        <ng-md-icon ng-show="message.newInputStatus" icon="touch_app" class="icon-gray" class="messages-icon"></ng-md-icon>
                                        <ng-md-icon ng-show="message.troubleStatus" icon="flash_on" class="icon-gray"></ng-md-icon>
                                        <ng-md-icon ng-show="message.otherreaction" icon="more_horiz" class="icon-gray"></ng-md-icon>
                                    </div>
                                    <div class="md-subhead">{{message.text}}
                                    </div>
                                    <md-divider ng-if="!$last"></md-divider>
                                </div>
                            </md-list-item>
                        </md-list>
                    </md-content>
                </div>
            </div>

        </md-dialog-content>

    </form>
</md-dialog>