<md-dialog aria-label="Idea Popup" class="popup-size">
    <form name="ideaForm">

        <md-toolbar class="toolbar-settings   md-primary md-hue-2">
            <img class="header-picture toolbar-settings " src={{selectedIdea.img}} />
            <!-- todo pfeil  und x soll mit kontext abschließen-->
            <div layout="row" layout-padding style="position: absolute; top: 0px; left:0px; width:100%;">
                <md-button class="md-icon-button" style="width:64px; height:64px; ">
                    <ng-md-icon icon="arrow_back" size="64"></ng-md-icon>
                </md-button>
                <div flex></div>

                <div>
                    <div>
                        <span class="md-display-2">{{selectedIdea.title}}</span>
                    </div>
                    <div>
                        <span class="md-display-1">Date:{{selectedIdea.created}}</span>
                    </div>
                </div>
                <div flex></div>
                <md-button class="md-icon-button" style="width:64px; height:64px;">
                    <ng-md-icon icon="close" size="64" aria-label="Close dialog" ng-click="cancel()"></ng-md-icon>
                </md-button>

            </div>

        </md-toolbar>

        <div class="container" ng-init="dayLeft = calculateIdeaLeftDays(selectedIdea.created)">
            <div class="header-background-circle md-display-1" layout="column">
                <div flex></div>
                <div>{{dayLeft}}d</div>
                <div>/</div>
                <div>{{selectedIdea.livetime}}d</div>
                <div flex></div>
            </div>
            <div class="header-progress">
                <round-progress max="100" current="100" color="#fafafa" bgcolor="#fafafa" radius="100" semi="false" rounded="false" stroke="15" clockwise="true" responsive="false" duration="800" animation="easeOutCubic" offset="0" animation-delay="0" on-render="showPreciseCurrent">
                    <!-- current muss noch berechnet werden-->
                    <round-progress max="selectedIdea.livetime" current="dayLeft" color="#45ccce" bgcolor="gainsboro" radius="100" semi="false" rounded="false" stroke="15" clockwise="true" responsive="true" duration="800" animation="easeOutCubic" offset="inherit" animation-delay="0" on-render="showPreciseCurrent">


                    </round-progress>
                </round-progress>
            </div>
        </div>
        <div layout="row" style="margin-bottom:135px; margin-top:10px;">
            <div flex></div>
            <md-button class="md-accent" style="font-weight:bold; font-size:34px;">Follow idea</md-button>
        </div>

        <md-dialog-content layout="row" style="padding: 0px 50px 50px 50px;">
            <div flex=50 layout="column" >

                <div class="idea-block">
                    <div class="md-headline" style="font-weight:bold;">
                        <ng-md-icon icon="person_add" size="18"></ng-md-icon>
                        Contributors</div>
                    <div>
                        <md-card class="content-contributors" ng-click="showProfile(selectedIdea.author, $event)">
                            <md-card-header>
                                <md-card-avatar>
                                    <img class="md-user-avatar" src={{users[selectedIdea.author].profileImg}} />
                                </md-card-avatar>
                                <md-card-header-text>
                                    <span class="md-title">{{users[selectedIdea.author].firstname}} {{users[selectedIdea.author].name}}</span>
                                    <span class="md-subhead ">author</span>
                                </md-card-header-text>
                            </md-card-header>
                        </md-card>
                        <md-card class="content-contributors" ng-repeat="contributor in selectedIdea.contributors" class="content-contributors" ng-click="showProfile(contributor, $event)">
                            <md-card-header>
                                <md-card-avatar>
                                    <img class="md-user-avatar" src={{users[contributor].profileImg}} />
                                </md-card-avatar>
                                <md-card-header-text>
                                    <span class="md-title">{{users[contributor].firstname}} {{users[contributor].name}}</span>
                                    <span class="md-subhead">contributor</span>
                                </md-card-header-text>
                            </md-card-header>
                        </md-card>
                    </div>
                    <md-button class="md-accent" style="font-weight:bold; font-size:24px;">I want to contribute</md-button>
                </div>
                <div  class="idea-block">
                    <div class="md-headline" style="font-weight:bold;">
                        <ng-md-icon icon="brush" size="18"></ng-md-icon>
                        Whiteboard Scribble</div>
                    <div ng-repeat="scrib in selectedIdea.scribble">
                        <img src={{scrib}} class="content-image">
                    </div>
                    <div class="md-headline" ng-show="{{selectedIdea.scribble.length}} <= 0">No Scribble available!</div>
                </div>
                <div  class="idea-block">
                    <div class="md-headline" style="font-weight:bold;">
                        <ng-md-icon icon="description" size="18"></ng-md-icon>
                        Description</div>
                    <p class="md-headline">{{selectedIdea.description}}</p>
                </div>

                <div  class="idea-block">
                    <div class="md-headline" style="font-weight:bold;">
                        <ng-md-icon icon="add_location" size="18"></ng-md-icon>
                        Milestones</div>
                    <div>
                        <md-checkbox class="md-headline" ng-repeat="milestone in selectedIdea.milestones" ng-model="milestone.status" aria-label="milestone.name" ng-disabled="true">
                            {{milestone.name}}
                        </md-checkbox>
                    </div>
                </div>
                <div  class="idea-block">
                    <div class="md-headline" style="font-weight:bold;"># Hashtags</div>
                    <p class="hashtag-style" ng-repeat="tag in selectedIdea.tags" style="padding:0px 10px 0px 10px; margin:0px;display:inline-block">#{{tag | uppercase}}</p>
                </div>
            </div>
            <div flex=50 layout="column" layout-padding>
                <div>
                    <div class="md-headline" style="font-weight:bold;">
                        <ng-md-icon icon="forum" size="18"></ng-md-icon>
                        Comments/React on Idea</div>
                    <div layout="row">
                        <div layout="column" flex layout-align="center center" ng-class="{'item-select' : saveComment.likeIdeaStatus}" ng-click="setLikeIdeaStatus();">
                            <ng-md-icon icon="thumb_up" size="56"></ng-md-icon>
                            <br>
                            <div class="md-subhead">I like idea</div>
                        </div>
                        <div layout="column" flex layout-align="center center" ng-class="{'item-select' : saveComment.newInputStatus}" ng-click="setNewInputStatus();">
                            <ng-md-icon icon="touch_app" size="56"></ng-md-icon>
                            <br>
                            <div class="md-subhead">new input</div>
                        </div>
                        <div layout="column" flex layout-align="center center" ng-class="{'item-select' : saveComment.troubleStatus}" ng-click="setTroubleStatus();">
                            <ng-md-icon icon="flash_on" size="56"></ng-md-icon>
                            <br>
                            <div class="md-subhead">see trouble</div>
                        </div>
                        <div layout="column" flex layout-align="center center" ng-class="{'item-select' : saveComment.other}" ng-click="setOtherComment();">
                            <ng-md-icon icon="more_horiz" size="56"></ng-md-icon>
                            <br>
                            <div class="md-subhead">other comments</div>
                        </div>
                    </div>
                    <div ng-show="saveComment.other || saveComment.troubleStatus || saveComment.newInputStatus || saveComment.likeIdeaStatus">
                        <md-input-container class="md-block">
                            <label>{{newInputText}} {{likeIdeaText}} {{troubleText}} {{otherText}}</label>
                            <textarea name="commentArea" type="text" ng-model="saveComment.text" md-autofocus required></textarea>
                            <div ng-messages="ideaForm.commentArea.$error" ng-show="ideaForm.commentArea.$dirty">
                                <div ng-message="required">You have to input a comment!</div>
                            </div>

                            <md-button ng-disabled="ideaForm.commentArea.$invalid" class="md-accent messages-icon" ng-click="sendComment()" style="font-weight:bold; font-size:24px;">Send</md-button>
                            <md-button ng-disabled="true" class="md-icon-button messages-icon" aria-label="Record Audio">
                                <ng-md-icon icon="keyboard_voice" class="icon-gray" size="24"></ng-md-icon>
                            </md-button>
                            <md-button ng-disabled="true" class="md-icon-button messages-icon" aria-label="Record Video">
                                <ng-md-icon icon="videocam" class="icon-gray" size="24"></ng-md-icon>
                            </md-button>
                        </md-input-container>
                    </div>
                    <md-content>
                        <md-list style=" max-height:400px;overflow-y:visible">
                            <md-list-item ng-repeat="message in selectedIdea.messages" style="margin-top:15px;margin-bottom:15px; heiht:auto;">
                                <img ng-src={{users[message.author].profileImg}} class="md-avatar" alt="{{users[message.author].name}}" ng-click="showProfile(message.author, $event)">
                                <div class="md-list-item-text" style="width:100%;">
                                    <!-- ToDO: Hier muss noch das gespeicherte Datum von der Nachricht eingefügt werden-->
                                    <div class="md-subhead messages-icon" style="margin-left:10px;">{{users[message.author].date}}</div>

                                    <ng-md-icon ng-show="message.likeIdeaStatus" icon="thumb_up" class="icon-gray" class="messages-icon"></ng-md-icon>
                                    <ng-md-icon ng-show="message.newInputStatus" icon="touch_app" class="icon-gray" class="messages-icon"></ng-md-icon>
                                    <ng-md-icon ng-show="message.troubleStatus" icon="flash_on" class="icon-gray" class="messages-icon"></ng-md-icon>
                                    <ng-md-icon ng-show="message.other" icon="more_horiz" class="icon-gray" class="messages-icon"></ng-md-icon>
                                    <div class="md-headline">{{users[message.author].name}}</div>


                                    <div class="md-subhead">{{message.text}}</div>
                                </div>
                                <md-divider md-inset ng-if="!$last"></md-divider>
                            </md-list-item>
                        </md-list>
                    </md-content>
                </div>
            </div>

        </md-dialog-content>

    </form>
</md-dialog>