<md-dialog id="login-dialog" aria-label="Login" ng-cloak style="max-width: 90%;width: 500px;">
    <form name="loginForm" ng-submit="login()">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Log In</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="dialog.close()">
                    <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <md-input-container class="md-block">
                    <label>Email</label>
                    <input name="Email" ng-model="credentials.username" md-autofocus required />
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Password</label>
                    <input type="password" name="password" ng-model="credentials.password" required />
                </md-input-container>
            </div>
            <div>{{test}}</div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <a href="" class="md-primary">Forgot Password?</a>
            <span flex></span>
            <md-button type="submit" ng-disabled="loginForm.$invalid" class="md-raised md-primary">Login</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>