<header>

    <md-toolbar class="md-primary md-hue-1 toolbar-settings-top">
        <div class="md-toolbar-tools">

            <div class="md-display-1">
                Academic Think Tank
            </div>
        </div>
    </md-toolbar>
    <md-toolbar>
        <div class="md-toolbar-tools toolbar-settings-bottom" layout='row'>

            <div style="border-bottom: 2px solid white;" flex>
                <div layout="row">
                    <div flex>

                    </div>
                    <md-button aria-label="Search" ng-click="searchHashtag($event)">
                        <ng-md-icon icon="search" size="64" class="icon-white"></ng-md-icon>
                    </md-button>
                </div>

            </div>


            <div flex=5></div>
            <md-input-container>
                <md-select ng-model="sortingType" aria-label="sorting" >
                    <md-option ng-value="t" data-ng-repeat="t in sorting">{{ t }}</md-option>
                </md-select>
            </md-input-container>
        </div>
    </md-toolbar>

</header>
<md-button class="md-fab md-fab-bottom-right" style="position:fixed; min-height:128px !important;  min-width:128px !important;" aria-label="Email">
    <ng-md-icon icon="email" size="34"></ng-md-icon>
</md-button>
<main class="" layout="row" flex>
    <md-content flex>
        <div ng-controller="MessagesCtrl" ng-cloak="">
            <md-content class="md-padding" layout="column" layout-wrap="" layout-align="center start" layout-xs="column">
                <md-card flex style=" border:solid 5px #00bcd4; width:100%;">
                    <md-card-header>
                        <md-card-avatar>
                            <img class="md-user-avatar" src="app/img/user.jpg" />
                        </md-card-avatar>
                        <md-card-header-text>
                            <h1 class="md-title">Klaus Bengler</h1>
                        </md-card-header-text>
                    </md-card-header>

                    <md-card-content>
                        <p>Hallo Frau Birmingham, ich habe gesehen, dass sie sich mit Usability, Usermodeleing und Software Egonomics beschäftigen.</p>
                    </md-card-content>
                    <md-card-actions layout="row" layout-align="end center">
                        <md-button class="md-raised md-accent">Answer</md-button>
                        <md-button class="md-raised md-accent">Delete</md-button>
                    </md-card-actions>
                </md-card>
                <md-card flex style=" border:solid 5px black; width:100%;">
                    <md-card-header>
                        <md-card-avatar>
                            <img class="md-user-avatar" src="app/img/user.jpg" />
                        </md-card-avatar>
                        <md-card-header-text>
                            <h1 class="md-title">Claudia Mülle</h1>
                        </md-card-header-text>
                    </md-card-header>

                    <md-card-content>
                        <p>Hallo Frau Birmingham, ich habe gesehen, dass sie sich mit Usability, Usermodeleing und Software Egonomics beschäftigen.</p>
                    </md-card-content>
                    <md-card-actions layout="row" layout-align="end center">
                        <md-button class="md-raised md-accent">Delete</md-button>
                    </md-card-actions>
                </md-card>
                <md-card flex style=" border:solid 5px black; width:100%;">
                    <md-card-header>
                        <md-card-avatar>
                            <img class="md-user-avatar" src="app/img/user.jpg" />
                        </md-card-avatar>
                        <md-card-header-text>
                            <h1 class="md-title">Petra Schneider-Mülle</h1>
                        </md-card-header-text>
                    </md-card-header>

                    <md-card-content>
                        <p>Hallo Frau Birmingham, ich habe gesehen, dass sie sich mit Usability, Usermodeleing und Software Egonomics beschäftigen.</p>
                    </md-card-content>
                    <md-card-actions layout="row" layout-align="end center">
                        <md-button class="md-raised md-accent">Delete</md-button>
                    </md-card-actions>
                </md-card>
                <md-card flex style=" border:solid 5px #00bcd4; width:100%;">
                    <md-card-header>
                        <md-card-avatar>
                            <img class="md-user-avatar" src="app/img/user.jpg" />
                        </md-card-avatar>
                        <md-card-header-text>
                            <h1 class="md-title">Klaus Bengler</h1>
                        </md-card-header-text>
                    </md-card-header>

                    <md-card-content>
                        <p>sent you a contriubtion request for the idea ....</p>
                    </md-card-content>
                    <md-card-actions layout="row" layout-align="end center">
                        <md-button class="md-raised md-accent">accept</md-button>
                        <md-button class="md-raised md-accent">decline</md-button>
                    </md-card-actions>
                </md-card>
            </md-content>
        </div>

    </md-content>
    </div>
    </md-content>
</main>