<md-dialog aria-label="Milestone Popup" class="popup-hashtag-size">
    <form name="milestoneForm">
        <md-toolbar class="md-tall md-primary md-hue-2" layout-padding>
          
            <div style="margin-right:80px; margin-left:10px; ">
                    <span class="md-display-3">Milestones:</span>

                    <md-button class="md-raised md-accent" ng-repeat="milestone in milestones" style="font-size:24px; margin-bottom:5px;">
                        <md-checkbox ng-checked="milestone.percentage" ng-click="changeMilestoneStatus($index)" class="md-primary" aria-label="milestone.name">
                            {{milestone.name}}
                        </md-checkbox>
                        <ng-md-icon icon="close" ng-click="setSelectedMilestones(milestones.name, true, milestones.extratime, milestones.icon);"></ng-md-icon>
                    </md-button>
            </div>
            <md-button class="md-icon-button" style="width:64px; height:64px; position:fixed; right:5px; top:5px; ">
                <ng-md-icon icon="close" size="64" aria-label="Close dialog" ng-click="cancel()"></ng-md-icon>
            </md-button>
        </md-toolbar>
        <md-dialog-content class="content">
            <div layout="row">
                <div class="background-color-white" ng-include="'app/views/abc-list.html'">

                </div>
                <div layout="column" flex>
                    <div layout="row">
                        <md-input-container class="md-block" flex>
                            <label>Is your milestone not in the list? Here can you add a new milestone!</label>
                            <input name="newMilestone" ng-model="addMilestone" validate-new-milestone required />

                            <div ng-messages="milestoneForm.newMilestone.$error">
                                <div ng-message="validateNewMilestone">This milestone is in the list! You can't add it.</div>

                                <div ng-message="required">This is required.</div>

                            </div>
                        </md-input-container>
                        <md-button ng-disabled="milestoneForm.newMilestone.$invalid" class=" md-raised md-primary" ng-click="addNewMilestone()">+</md-button>
                    </div>
                    <div class="masonry-layout-milestone">
                        <div layout="row" ng-repeat="item in milestoneList | orderBy:'name'" class="item">
                            <md-button data-ng-class="{'md-accent' : statusMilestoneSelected(item.name)}" ng-click="setSelectedMilestones( item.name, statusMilestoneSelected( item.name), item.extratime, item.icon)">{{item.name}}</md-button>
                        </div>
                    </div>
                </div>
                <div class="background-color-white" ng-include="'app/views/abc-list.html'">

                </div>
            </div>
        </md-dialog-content>
     
    </form>
</md-dialog>