<div flex=66 layout="column" layout-padding>
    <div class="md-padding" layout="row" layout-wrap="" layout-align="center start" layout-xs="column">
        <div flex flex-sm="100" flex-xs="100" layout="column" layout-margin>
            <md-card class="md-whiteframe-4dp" ng-repeat="indexUserIdea in user.ideas" ng-init="idea = ideas[indexUserIdea]" ng-if="!(($index+2)%2)" ng-include="'app/views/dashboard-item-idea-card.html'">

            </md-card>
        </div>
        <div flex="50" flex-sm="100" flex-xs="100" layout="column" layout-margin>
            <md-card  class="md-whiteframe-4dp" ng-repeat="indexUserIdea in user.ideas" ng-init="idea = ideas[indexUserIdea]" ng-if="!(($index+1)%2)" ng-include="'app/views/dashboard-item-idea-card.html'">

            </md-card>
        </div>
    </div>
</div>
<div flex layout="column">
    <div>
        <div class="md-display-1" style="font-weight:bold;">Groups</div>
        <div layout="column" ng-repeat="group in user.groups">
            <div layout="row">
                <div class="md-headline" flex>{{group.name}}</div>
                <div class="md-title" ng-show="{{group.owner}} === true">owner</div>

            </div>
        </div>
    </div>
    <br>
    <div>
        <div class="md-display-1" style="font-weight:bold;">Hashtags</div>
        <p class="md-headline" ng-repeat="tag in selectedIdea.tags">#{{hashtags[tag].name | uppercase}}</p>
    </div>

</div>