<md-button class="md-fab md-fab-bottom-right" style="position:fixed;"  aria-label="Edit" >
    <ng-md-icon icon="edit"></ng-md-icon>
</md-button>
<div ng-controller="DashboardProfileCtrl" ng-cloak="">
    <md-content class="md-padding" layout="row" layout-wrap="" layout-align="center start" layout-xs="column">
        <div>
            <h1>{{user.name}}</h1>
            <h2> <a href={{user.url}}>{{user.url}}</a> </h2>
        </div>
        <div  layout="row" ng-include="'app/views/profile-content.html'">
        </div>

    </md-content>
</div>