<md-dialog id="register-dialog" aria-label="Login" ng-cloak class="popup-hashtag-size">
    <form name="registerForm" ng-submit="register()">

        <md-toolbar class="md-tall md-primary md-hue-2" layout="row" layout-padding>
            <h2 ng-hide="isProfile">Sign Up</h2>
            <h2 ng-show="isProfile">Update Profile Data</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
            </md-button>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <md-input-container class="md-block">
                    <label>Title</label>
                    <input name="Title" ng-model="credentials.title" md-autofocus/>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Firstname</label>
                    <input name="Firstname" ng-model="credentials.firstname" required />
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Name</label>
                    <input name="Name" ng-model="credentials.name" required />
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Email</label>
                    <input name="Email" ng-model="credentials.email" required />
                </md-input-container>
                <md-input-container class="md-block">
                    <label>profileImg to LfE Profile</label>
                    <input name="url" ng-model="credentials.url" />
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Path to your Picture</label>
                    <input name="profileImg" ng-model="credentials.profileImg" />
                </md-input-container>

                <md-input-container class="md-block" ng-hide="isProfile">
                    <label>Password</label>
                    <input type="password" name="password" ng-model="credentials.password" required />
                </md-input-container>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button type="submit" ng-disabled="registerForm.$invalid" class="md-raised md-primary" ng-hide="isProfile" >Sign Up</md-button>
            <md-button ng-disabled="registerForm.Firstname.$invalid || registerForm.Name.$invalid || registerForm.Email.$invalid" class="md-raised md-primary" ng-click="cancel()">Okay</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>