<header>
     <md-toolbar class="md-primary md-hue-1 ">
        <div class="md-toolbar-tools toolbar-settings-top"  layout='row'>
            <div class="md-headline" style="margin-right:20px !important; margin-left:20px !important; ">
                Academic Think Tank
            </div>
        </div>
    </md-toolbar>
</header>

<main class="" layout="row" flex>
    <md-content flex>
        <div ng-controller="SettingsCtrl" ng-cloak="">
            <md-content class="md-padding" layout="row" layout-wrap="" layout-align="center start" layout-xs="column">
                <div flex="50" flex-sm="100" flex-xs="100" layout="column">
                    This is only an prototype and settings has not functions.
                </div>

            </md-content>
        </div>

    </md-content>
    </div>
    </md-content>
</main>