<md-dialog id="register-dialog" aria-label="Login" ng-cloak class="popup-hashtag-size">
    <form name="registerForm" ng-submit="register()">

        <md-toolbar class="md-tall md-primary md-hue-2" layout="row" layout-padding>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
            </md-button>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content"  ng-include="'app/views/user-data-content.html'">
              
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-disabled="registerForm.Firstname.$invalid || registerForm.Name.$invalid || registerForm.Email.$invalid" class="md-raised md-primary" ng-click="cancel()"  >Okay</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>