<md-dialog aria-label="Save Whiteboard Popup" ng-cloak style="max-width: 90%;width: 500px;">
    <form name="saveForm" >
        
 <md-toolbar class="md-tall md-primary md-hue-2" layout="row" layout-padding>
                <h2>Save Idea</h2>
            
            <span flex></span>
            <md-button class="md-icon-button" style="width:64px; height:64px;">
                <ng-md-icon icon="close" size="64" aria-label="Close dialog" ng-click="cancel()"></ng-md-icon>
            </md-button>

        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <md-input-container class="md-block">
                        <label>Title</label>
                        <input  name="title" ng-model="title"  />
                    </md-input-container>
                 <md-input-container class="md-block">
                        <label>Life Time of the Idea</label>
                        <input type="number" name="lifetime" ng-model="ideaLifeTime" min="30" max="180"/>
                      <div ng-messages="saveForm.lifetime.$error" multiple >
          <div ng-message="required">
            This is required!
          </div>
          <div ng-message="min">
            30 days is the minimum of the idea life time.
          </div>
         
          <div ng-message="max">
                       180 days is the minimum of the idea life time.

          </div>
                    </md-input-container>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <md-button class="md-raised" ng-click="cancel()">Cancel</md-button>

            <span flex></span>
            <md-button type="submit" class=" md-raised md-primary" ng-click="save()">Save</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>