<md-dialog aria-label="Save Whiteboard Popup" ng-cloak style="max-width: 90%;width: 500px;">
    <form name="saveForm" >
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Save</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <div ng-show="isLoggedIn">
                    <md-input-container class="md-block">
                        <label>Email</label>
                        <input name="Email" ng-model="credentials.email" md-autofocus  />
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Password</label>
                        <input type="password" name="password" ng-model="credentials.password"  />
                    </md-input-container>
                </div>
                <md-input-container class="md-block">
                        <label>Title</label>
                        <input  name="title" ng-model="title"  />
                    </md-input-container>
                 <md-input-container class="md-block">
                        <label>Life Time of the Idea</label>
                        <input type="number" name="lifetime" ng-model="ideaLifeTime" min="30" max="180"/>
                      <div ng-messages="saveForm.lifetime.$error" multiple >
          <div ng-message="required">
            This is required!
          </div>
          <div ng-message="min">
            30 days is the minimum of the idea life time.
          </div>
         
          <div ng-message="max">
                       180 days is the minimum of the idea life time.

          </div>
                    </md-input-container>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <md-button class="md-raised" ng-click="cancel()">Cancel</md-button>

            <span flex></span>
            <md-button type="submit" class=" md-raised md-primary" ng-click="save()">Save</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>