<header>

    <md-toolbar class="md-primary md-hue-1 toolbar-settings-top">
        <div class="md-toolbar-tools">

            <div class="md-display-1">
                Academic Think Tank
            </div>
        </div>
    </md-toolbar>


</header>

<main class="" layout="row" flex>

    <md-content flex>
        <div ng-controller="WhiteboardCtrl" ng-cloak="">
            <div layout="row" layout-padding>
                <div flex></div>
                <md-button class="md-icon-button icon-background-gray icon-whiteboard-small" aria-label="Contributors">
                    <ng-md-icon icon="person_add" class="icon-white" size="34"></ng-md-icon>
                </md-button>
                <md-button class="md-icon-button icon-background-gray icon-whiteboard-small" aria-label="Descirption">
                    <ng-md-icon icon="description" class="icon-white" size="34"></ng-md-icon>
                </md-button>
                <md-button class="md-icon-button icon-background-gray icon-whiteboard-small" aria-label="Milestones">
                    <ng-md-icon icon="add_location" class="icon-white" size="34"></ng-md-icon>
                </md-button>
                <md-button class="md-icon-button icon-background-gray icon-whiteboard-small" aria-label="Hashtags">#</md-button>
                <div flex></div>
                <md-button class="md-icon-button  icon-whiteboard-small" aria-label="lock">
                    <ng-md-icon icon="lock" class="icon-gray" size="34"></ng-md-icon>
                </md-button>
                <md-button class="md-icon-button  icon-whiteboard-small" ng-click="saveScribble($event)" aria-label="save">
                    <ng-md-icon icon="save" class="icon-gray" size="34"></ng-md-icon>
                </md-button>

            </div>

            <md-content class="md-padding" layout="row" layout-wrap="" layout-align="center start" layout-xs="column" >
                <div id="wbCanvas" class="wbCanvas" whiteboard></div>
            </md-content>


            <div layout="row" style="bottom:0px; left:50%; position:absolute;" padding-layout>
                <div flex></div>

                <md-button class="md-icon-button icon-whiteboard-small" aria-label="undo">
                    <ng-md-icon icon="undo" class="icon-gray" size="34"></ng-md-icon>
                </md-button>
                <md-button class="md-icon-button icon-whiteboard-small" aria-label="redo">
                    <ng-md-icon icon="redo" class="icon-gray" size="34"></ng-md-icon>
                </md-button>
                <input id='check' type='checkbox'>
                <label class='main' for='check'>
                    <div class='title'>Tools</div>
                </label>
                <div class="container">
                    <md-button class="md-icon-button icon-background-gray icon-whiteboard-small plate" aria-label="text">
                        <ng-md-icon icon="text_format" class="icon-white" size="34"></ng-md-icon>
                    </md-button>
                    <md-button class="md-icon-button icon-background-gray icon-whiteboard-small plate" aria-label="create">
                        <ng-md-icon icon="create" class="icon-white" size="34"></ng-md-icon>
                    </md-button>
                    <md-button class="md-icon-button icon-background-gray  icon-whiteboard-small plate" aria-label="keyboard_voice">
                        <ng-md-icon icon="keyboard_voice" class="icon-white" size="34"></ng-md-icon>
                    </md-button>
                    <md-button class="md-icon-button icon-background-gray  icon-whiteboard-small plate" aria-label="videocam">
                        <ng-md-icon icon="videocam" class="icon-white" size="34"></ng-md-icon>
                    </md-button>
                    <md-button class="md-icon-button icon-background-gray icon-whiteboard-small plate" aria-label="attach_file">
                        <ng-md-icon icon="attach_file" class="icon-white" size="34"></ng-md-icon>
                    </md-button>
                </div>
                <md-button class="md-icon-button icon-whiteboard-small" aria-label="delete">
                    <ng-md-icon icon="delete" class="icon-gray" size="34"></ng-md-icon>
                </md-button>

                <div flex></div>

            </div>

        </div>
    </md-content>
</main>