<header>

    <md-toolbar class="md-primary md-hue-1 toolbar-settings-top">
        <div class="md-toolbar-tools">

            <div class="md-display-1">
                Academic Think Tank
            </div>
        </div>
    </md-toolbar>


</header>

<main class="" layout="row" flex id="whiteboard-main">

    <md-content noFlex>
        <div ng-controller="WhiteboardCtrl" ng-cloak="">
            <div style="top:74px; right:0px; position:fixed; width:90px; heigt:100%;">
                <div layout="column" layout-padding>
                    <div flex=38></div>
                    <md-button class="md-icon-button icon-background-gray icon-whiteboard-small" ng-click="addContributors();" aria-label="Contributors">
                        <ng-md-icon icon="person_add" class="icon-white" size="34"></ng-md-icon>
                    </md-button>
                    <div flex=8></div>

                    <md-button class="md-icon-button icon-background-gray icon-whiteboard-small" ng-click="addDescription();" aria-label="Descirption">
                        <ng-md-icon icon="description" class="icon-white" size="34"></ng-md-icon>
                    </md-button>
                    <div flex=8></div>

                    <md-button class="md-icon-button icon-background-gray icon-whiteboard-small" ng-click="addMilestones();" aria-label="Milestones">
                        <ng-md-icon icon="add_location" class="icon-white" size="34"></ng-md-icon>
                    </md-button>
                    <div flex=8></div>

                    <md-button class="md-icon-button icon-background-gray icon-whiteboard-small" ng-click="addHashtags();" aria-label="Hashtags">#</md-button>
                    <div flex=38></div>

                </div>
            </div>

            <div layout-wrap="" layout-align="center start" ng-style="setCanvasStyle()" flex>



                <ng-drawingboard remote="drawingboardRemote" drawingMode="drawingMode" eraseColor="backgroundColor" drawColor="drawColor" lineWidth="lineWidth" webStorage="webStorage" backgroundColor="backgroundColor" canvasWidth="canvasWidth" canvasHeight="canvasHeight"></ng-drawingboard>

            </div>


            <div layout="row" style="bottom:0px; left:0px; position:fixed; width:100%;" padding-layout>



                <div style="bottom:0px; left:40%; position:fixed;">
                    <md-button class="md-icon-button icon-whiteboard-small" aria-label="undo" ng-click="undo()">
                        <ng-md-icon icon="undo" class="icon-gray" size="34" ng-click="undo()"></ng-md-icon>
                    </md-button>
                    <md-button class="md-icon-button icon-whiteboard-small" aria-label="redo" ng-click="redo()">
                        <ng-md-icon icon="redo" class="icon-gray" size="34" ng-click="redo()"></ng-md-icon>
                    </md-button>
                    <md-button ng-class="{'btn-tools-active':isToolsOpen}" class="icon-background-gray icon-whiteboard-large" id="btn-tools-menu" ng-click="openTools()">
                        Tools
                    </md-button>
                    <md-button class="md-icon-button icon-whiteboard-small" aria-label="delete" ng-click="clear();clearHistory();">
                        <ng-md-icon icon="delete" class="icon-gray" size="34" ng-click="clear()"></ng-md-icon>
                    </md-button>
                    <md-button class="md-icon-button  icon-whiteboard-small" ng-click="saveScribble($event)" aria-label="save">
                    <ng-md-icon icon="save" class="icon-gray" size="34"></ng-md-icon>
                </md-button>
                </div>
                <div id="circle-menu1" class="cn-menu1"></div>


            </div>
            <div style="bottom:0px; right:10px; position:fixed;">
                    <md-button class="md-icon-button  icon-whiteboard-small" aria-label="lock">
                        <ng-md-icon icon="lock" class="icon-gray" size="34"></ng-md-icon>
                    </md-button>
                    <md-input-container>
                        <md-select ng-model="selectedPrivacyType" aria-label="privacyTypesList" ng-change="changePrivacy(selectedPrivacyType)" style="margin-bottom: 20px; width:100%;">
                            <md-option ng-value="t" data-ng-repeat="t in privacyTypesList">{{ t }}</md-option>
                        </md-select>

                    </md-input-container>
                
            </div>
        </div>
    </md-content>
</main>