header, main, footer {
	padding-left: 200px;
}
@media only screen and (max-width: 992px) {
	header, main, footer {
		padding-left: 0;
	}
}
nav, footer.page-footer, .side-nav.fixed .collapsible-body li.active {
	background-color: #428BCA;
}
/* ============= Footer ============== */
footer.page-footer {
	color: rgba(255, 255, 255, 0.6);
	font-weight: normal;
	padding-bottom: 20px;
}
footer.page-footer a {
	color: rgba(255, 255, 255, 0.6);
	text-decoration: underline;
}

/* ============= Navi ============== */
nav.top-nav {
	height: 100px;
}
ul.side-nav.fixed li.logo {
	background: url("../res/logo.png") no-repeat 30px 12px;
	padding-top: 15px;
	padding-bottom: 0px;
	margin-top: 0px;
	height: 100px;
}
li.logo a#logo-container {
	font-size: 30px;
	padding-left: 47px;
	line-height: 33px;
	text-align: left;
}

.side-nav {
	width: 200px;
}
body#schule li.schule, body#studium li.studium, body#galerie li.galerie, body#woerterlexikon li.woerterlexikon, body#kontakt li.kontakt, body#person li.person, body#tut li.tut, body#tools li.tools {
	/* = same a class 'active' */
	background-color: rgba(0, 0, 0, 0.05);
}
a.button-collapse.top-nav.full {
	line-height: 100px;
}
i.mdi-communication-call-made {
	margin-right: 22px;
}
.waves-effect.waves-blue .waves-ripple {
	background-color: rgba(66, 139, 202, 0.65);/*#428BCA*/
}

/* ============= Google adsense ============== */
nav.top-nav {
	text-align: right;
	padding-top: 10px;
}
div.adsense-right {
	margin-top: 35px;
}
div.adsense-footer{
	margin-top: 30px;
}
nav div.adsense-links{
	text-align: right;
    padding-right: 25px;
}
div.adsense-unter-skyscraper{
	margin-top: 30px;
}
/* ============= Content ============== */
main div.container {
}
blockquote, code, dfn {
	border-left: 5px solid #428BCA;
}
h1, h2, h3, h4, h5 {
	clear: both;
}
h1 {
	margin: 1.5 rem 0 1.68 rem 0;
}
h1 .small {
	font-size: 60%;
	display: block;
	line-height: normal;
}
h2 {
	/*equals the style of h3 in materializecss*/
	font-size: 2.92 rem;
	line-height: 110%;
	margin: 3.46 rem 0 1.168 rem 0;
}
h3 {
	/*equals the style of h4 in materializecss*/
	font-size: 2.28 rem;
	line-height: 110%;
	margin: 3.14 rem 0 0.912 rem 0;
}
main p {
	text-align: justify;
}

main a {
	color: #428BCA;
}
main a:hover, main a:hover:visited {
	color: #4ea3e8;
}
main a:visited {
	color: #326c99;
}
ul.hid {
	display: none;
}
main ul {
	padding-left: 40px;
	text-align: justify;
}
main ul li {
	list-style-type: disc;
}
main table ul {
	padding-left: 15px;
	margin-top: 0px;
}
main table td, main table th {
	vertical-align: top;
}
main .left {
	margin: 0px 15px 5px 0px;
}
main .right {
	margin: 0px 0px 5px 15px;
}

main dt {
	font-weight: bold;
}

main ul, main blockquote, main table, main p {
	/*same as p in materializecss*/
	color: rgba(0, 0, 0, 0.71);
}
main blockquote {
	margin-left: 20px;
}

main code {
	display: block;
	padding-left: 10px;
	margin-left: 10px;
	text-align: left;
}
main dfn {
	display: block;
	padding: 5px 5px 5px 10px;
	margin-left: 10px;
}
main pre:first-line {/*hack to ignore first empty line*/
	line-height: 0px;
}
main span.lila {
	color: #ff00ff;
}
main span.blau {
	color: #0000ff;
}
main span.rot {
	color: #FF0000;
}
main span.gruen {
	color: #006600;
}
main span.braun {
	color: #996600;
}
main span.gruen2 {
	color: #008080;
}
main span.grau {
	color: #666666;
}

main samp {
	margin-left: 10px;
	display: block;
	font-family: monospace, monospace;
}

main .courier {
	font-family: "Courier New", Courier, monospace;
}

.small {
	font-size: 85%;
}
main .tiny {
	font-size: 50%;
}

main img {
	display: block;
	margin: 0px auto;
}
main table img {/* don't center images in table*/
	display: inline;
	margin: 0px 0px;
}

main div.design-pattern-index {
	border-top: 1px solid rgba(0, 0, 0, 0.2);
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	text-align: center;
	padding: 5px;
	margin: 10px 0px 10px 0px;
	font-size: 90%;
}

input[type="button"], input[type="submit"] {
	border: none;
	background: none;
	background-color: #428BCA;
	color: white;
	padding: 10px 20px;
	margin: 5px;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
input[type="button"]:hover, input[type="submit"]:hover {
	background-color: rgba(66, 139, 202, 0.65);/*#428BCA*/
}

input[disabled], input[disabled]:hover {
	opacity: 0.5
}

main img.inline {
	display: inline;
}

img.browser-statistik {
	position: absolute;
	top: -5px;
	left: -5px;
}

/* ============= CommentIt ============== */
div.commentarea {
	color: rgba(0, 0, 0, 0.71);
}
div.commentarea div.comment {
	margin: 30px 0px;
}
div.commentarea div.comment div.head span.author {
	font-weight: bold;
}
div.commentarea div.comment div.head span.date {
	color: #777777;
	font-size: 90%;
	margin-left: 5px;
}
div.commentarea div.comment div.entry {
	padding-left: 20px;
}

/* label focus color */
div.commentarea .input-field input[type=text]:focus + label, div.commentarea .input-field textarea:focus + label {
	color: #428BCA;
}
/* label underline focus color */
div.commentarea .input-field input[type=text]:focus, div.commentarea .input-field textarea:focus {
	border-bottom: 1px solid #428BCA;
	box-shadow: 0 1px 0 0 #428BCA;
}
div.commentarea input[type=radio]:checked + label:after {
	border-color: #428BCA;
	background-color: #428BCA;
}

div.commentarea tr.url {/* spam schutz */
	display: none;
}

/* =========== accept cookies ==== */
div.cc_banner-wrapper  a.cc_btn_accept_all {
	background-color: #428BCA;
	color: white;
}
div.cc_banner-wrapper  a.cc_btn_accept_all:hover {
	background-color: rgba(66, 139, 202, 0.65);
	color: white;
}

/* ======= Startseite ====== */
body.startscreen nav.top-nav {
	display: none;
}
body.startscreen, body.startscreen main {
	height: 100vh;
}
body.startscreen div.intro {
	text-shadow: 2px 2px #1f4360;
	background: url('/design/res/IMG_5600-inet.jpg') no-repeat center center;
	height: 100vh;
	background-size: cover;
	margin: 0px;
}
body.startscreen div.startscreen-footer {
	position: absolute;
	left: 25px;
	bottom: 10px;
	z-index: 999999;
	font-size: 10px;
}
body.startscreen div.startscreen-footer a{
	color: #777777;
}
/* always show navi on start page */
@media only screen and (max-width: 992px) {
	body.startscreen .side-nav.fixed {
		/*left: -105%;*/
		left: auto;
	}
	body.startscreen main {
		padding-left: 200px;
	}
	body.startscreen main h2 {
		font-size: 35px;	
	}
}
