.masonry-layout {
  column-count: 3;
  column-gap: 0;
}
.item { /* Masonry bricks or child elements */
    display: inline-block;
    margin: 10px;
    width: 100%;
}

.popup-hashtag-size {
    max-width: 100%;
    max-height: 80%;
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 12%;
    margin-bottom: 5%;
    min-height: 75%;
    min-width: 90%;
    border-radius: 0;
}