/* layout of the hashtag pop-up
    how many columns the milesotnes are listed,
    but only work on chrome
*/

.masonry-layout {
    column-count: 3;
    column-gap: 0;
}

.item {
    /* Masonry bricks or child elements */
    display: inline-block;
    margin: 10px;
    width: 100%;
}


/*pop-up size of the position an size of the hashtag pop-up*/

.popup-hashtag-size {
    max-width: 100%;
    max-height: 80%;
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 12%;
    margin-bottom: 5%;
    min-height: 75%;
    min-width: 90%;
    border-radius: 0;
}