#circle-menu1 {
    bottom: 10px;
}

.icon-whiteboard-small {
    height: 68px !important;
    width: 68px !important;
    font-size: 34px!important;
    color: white !important;
}

.icon-whiteboard-large {
    height: 85px !important;
    width: 85px !important;
    font-size: 22px!important;
    color: white !important;
    border-radius: 50%!important;
}

.btn-tools-active {
    background-color: #00bcd4 !important;
}

.circle-icon {
    display: inline-block !important;
    border-radius: 50%;
}

.red {
    background: red;
}

.black {
    background: black;
}

.blue {
    background: blue;
}

.orange {
    background: orange;
}

.white {
    background: white;
}

.yellow {
    background: yellow;
}

#circle-menu1 {
   
    z-index: 20;
}

.my-icon-fill {
    background: url("../img/icon/fill1.png");
}

.my-icon-strichstärke {
    background: url("../img/icon/strichst%C3%A4rke.png");
}

.my-icon-strichstärke-duenn {
    background: url("../img/icon/strichst%C3%A4rke_d%C3%BCnn.png");
}

.my-icon-strichstärke-mittel {
    background: url("../img/icon/strichst%C3%A4rke_mittel.png");
}

.my-icon-strichstärke-dick {
    background: url("../img/icon/strichst%C3%A4rke_dick.png");
}

.my-icon-pen {
    background: url("../img/icon/pen.png");
}
.my-icon-color {
    background: url("../img/icon/color1.png");
}
.my-icon-eraser {
    background: url("../img/icon/eraser.png");
}